.loginAlignmentStyle {
  padding-left: 5rem;
  padding-top: 3rem;
}

.buttonStyle {
  background-color: #004990;
  margin: 0px 4px 0px 4px;
}

.grid-container {
  display: flex;
  grid-template-columns: auto auto auto;
  column-gap: 4px;
  row-gap: 12px;
  background-color: white;
  padding: 4px 4px 4px 32px;
  max-width: max-content;
}

.grid-container>button {
  background-color: var(--color-primary);
  text-align: center;
  font-size: 30px;
  color: white;
  width: 72px;
  height: 60px;
  border-radius: 11px;
  border: 0px;
}

.p-float-label {
  display: flex;
}

.p-button.p-button-icon-only {
  width: 4rem;
}

.p-button-style-class {
  margin: 0px 4px 0px 4px;
}

.keypadWrapper {
  margin: 8px 8px 8px 8px;
  padding: 10px;
  border-style: solid;
  border-width: 4px;
  border-color: #004990;
  border-radius: 2%;
}