<div class="theme-background">
  <div class="keypadwrapper">
    <div class="p-float-label" style="padding:24px; justify-content: center;">
      <div style="padding-right:8px"><input type="text" inputmode="text" maxlength="lengthValue"
          [(ngModel)]="value" pInputText></div>
      <button pButton type="button" icon="pi pi-arrow-right" label="submit" (click)="onSubmit()"
        [disabled]="!value"></button>
    </div>
    <div class="grid-container">
      <button pButton type="button" label="1" (click)="value.length <lengthValue && value = value +'1'"class="theme-btn"></button>
      <button class="p-button-style-class" pButton type="button" label="2"
        (click)="value.length <lengthValue && value = value +'2'"class="theme-btn"></button>
      <button pButton type="button" label="3" (click)="value.length <lengthValue && value = value +'3'"class="theme-btn"></button>
      <button class="p-button-style-class" pButton type="button" label="4"
        (click)="value.length <lengthValue && value = value +'4'"class="theme-btn"></button>
      <button pButton type="button" label="5" (click)="value.length <lengthValue && value = value +'5'"class="theme-btn"></button>
      <button class="p-button-style-class" pButton type="button" label="6"
        (click)="value.length <lengthValue && value = value +'6'"class="theme-btn"></button>
      <button pButton type="button" label="7" (click)="value.length <lengthValue && value = value +'7'"class="theme-btn"></button>
      <button class="p-button-style-class" pButton type="button" label="8"
        (click)="value.length <lengthValue && value = value +'8'"class="theme-btn"></button>
      <button pButton type="button" label="9" (click)="value.length <lengthValue && value = value +'9'"class="theme-btn"></button>
      <button class="p-button-style-class" pButton type="button" label="0"
        (click)="value.length <lengthValue && value = value +'0'"class="theme-btn"></button>
    </div>
    <div class="grid-container">
      <button pButton type="button" label="Q" (click)="value.length <lengthValue &&  value = value +'Q'"class="theme-btn"></button>
      <button class="p-button-style-class" pButton type="button" label="W"
        (click)="value.length <lengthValue &&  value = value +'W'"class="theme-btn"></button>
      <button pButton type="button" label="E" (click)="value.length <lengthValue &&  value = value +'E'"class="theme-btn"></button>
      <button class="p-button-style-class" pButton type="button" label="R"
        (click)="value.length <lengthValue &&  value = value +'R'"class="theme-btn"></button>
      <button pButton type="button" label="T" (click)="value.length <lengthValue &&  value = value +'T'"class="theme-btn"></button>
      <button class="p-button-style-class" pButton type="button" label="Y"
        (click)="value.length <lengthValue &&  value = value +'Y'"class="theme-btn"></button>
      <button pButton type="button" label="U" (click)="value.length <lengthValue &&  value = value +'U'"class="theme-btn"></button>
      <button class="p-button-style-class" pButton type="button" label="I"
        (click)="value.length <lengthValue &&  value = value +'I'"class="theme-btn"></button>
      <button pButton type="button" label="O" (click)="value.length <lengthValue &&  value = value +'O'"class="theme-btn"></button>
      <button class="p-button-style-class" pButton type="button" label="P"
        (click)="value.length <lengthValue && value = value +'P'"class="theme-btn"></button>
    </div>
    <div class="grid-container">
      <button pButton type="button" label="A" (click)="value.length <lengthValue && value = value +'A'"class="theme-btn"></button>
      <button class="p-button-style-class" pButton type="button" label="S"
        (click)="value.length <lengthValue && value = value +'S'"class="theme-btn"></button>
      <button pButton type="button" label="D" (click)="value.length <lengthValue && value = value +'D'"class="theme-btn"></button>
      <button class="p-button-style-class" pButton type="button" label="F"
        (click)="value.length <lengthValue && value = value +'F'"class="theme-btn"></button>
      <button pButton type="button" label="G" (click)="value.length <lengthValue && value = value +'G'"class="theme-btn"></button>
      <button class="p-button-style-class" pButton type="button" label="H"
        (click)="value.length <lengthValue && value = value +'H'"class="theme-btn"></button>
      <button pButton type="button" label="J" (click)="value.length <lengthValue && value = value +'J'"class="theme-btn"></button>
      <button class="p-button-style-class" pButton type="button" label="K"
        (click)="value.length <lengthValue && value = value +'K'"class="theme-btn"></button>
      <button pButton type="button" label="L" (click)="value.length <lengthValue && value = value +'L'"class="theme-btn"></button>
    </div>
    <div class="grid-container">
      <button pButton type="button" label="Z" (click)="value.length <lengthValue && value = value +'Z'"class="theme-btn"></button>
      <button class="p-button-style-class" pButton type="button" label="X"
        (click)="value.length <lengthValue && value = value +'X'"class="theme-btn"></button>
      <button pButton type="button" label="C" (click)="value.length <lengthValue && value = value +'C'"class="theme-btn"></button>
      <button class="p-button-style-class" pButton type="button" label="V"
        (click)="value.length <lengthValue && value = value +'V'"class="theme-btn"></button>
      <button pButton type="button" label="B" (click)="value.length <lengthValue && value = value +'B'"class="theme-btn"></button>
      <button class="p-button-style-class" pButton type="button" label="N"
        (click)="value.length <lengthValue && value = value +'N'"class="theme-btn"></button>
      <button pButton type="button" label="M" (click)="value.length <lengthValue && value = value +'M'"class="theme-btn"></button>
      <button pButton type="button" label="clr" class="buttonStyle" (click)="clear()"class="theme-btn"></button>
    </div>
  </div>
  <br>
  <h3 *ngIf="errorMessage" style="color: red;">
    {{errorMessage}}
  </h3>
</div>
