<div class="displayView">
  <div class="width">
    <span class="textStyle">PO </span>
    <span class="textStyle">{{selectedOrder?.PONO}}</span>
  </div>
  <div class="width">
    <span class="textStyle">Line </span>
    <span class="textStyle">{{selectedOrder?.POLINE}}</span>
  </div>
  <div class="width">
    <span class="textStyle">Item </span>
    <span class="textStyle">{{selectedOrder?.ITEM}}</span>
  </div>
  <div class="width">
    <span class="textStyle">Tag </span>
    <span class="textStyle">{{selectedOrder?.TAG}}</span>
  </div>
  <div style="float:right;">
    <p-button lable="Select Order Summary" (click)="selectOrder(selectedOrder)">Select TAG</p-button>
  </div>
</div>
<p-divider></p-divider>
<div style="display: flex; justify-content: center">
  <h2 class="descColor">HEAT {{selectedOrder?.HEAT}}</h2>
</div>
<p-divider></p-divider>
<div style="text-align: center;">
  <h2 style="font-weight: lighter;">MILL_NO {{selectedOrder?.MILL_NO}}</h2>
</div>
<p-divider></p-divider>
<div style="display: flex; justify-content: center">
  <h2 class="descColor">{{selectedOrder?.DESC}}</h2>
</div>
<p-divider></p-divider>
<div class="displayView">
  <div>
    <span class="textStyle">Tag Qty </span>
    <span class="textStyle">{{selectedOrder?.TAG_QTY}} {{selectedOrder?.UOM}}</span>
  </div>
  <div>
    <span class="textStyle">Pieces </span>
    <span class="textStyle">{{selectedOrder?.PCS}}</span>
  </div>
  <div>
    <span class="textStyle">LENGTH: </span>
    <span class="textStyle">{{selectedOrder?.LENGTH}}</span>
  </div>
  <div>
    <span class="textStyle">WIDTH: </span>
    <span class="textStyle">{{selectedOrder?.WIDTH}}</span>
  </div>
</div>
<p-divider></p-divider>
<div style="text-align:left;">
  <h3 style="font-weight: lighter;">VENDOR {{selectedOrder?.VENDOR}}</h3>
</div>
<p-divider></p-divider>
<div style="text-align:left;">
  <h3 style="font-weight: lighter;">{{selectedOrder?.TAG_COMMENT}}</h3>
</div>
<p-divider></p-divider>
<div class="displayView">
  <div class="width" style="text-align:left;">
    <span class="contentTextStyle">LOC {{selectedOrder?.LOC}}</span>
  </div>
  <div class="width">
    <h3 style="font-weight: lighter;">REC_DATE {{selectedOrder?.REC_DATE}}</h3>
  </div>
  <div class="width" style="text-align:right;">
    <span class="contentTextStyle">Status {{selectedOrder?.STATUS}}</span>
  </div>
</div>