<div class="card">
  <p-dataView #dv [value]="orders" [paginator]="true" [rows]="20" [paginatorPosition]="'both'" filterBy="PONO" layout="grid">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-md-row p-jc-md-between">
        <button pButton type="button" label="refresh" [loading]="loading" icon="pi pi-refresh"
          (click)="refresh()"></button>
        <h4 style="display:flex; padding-right:1rem" *ngIf="selectedPo !== ''">Search Results for PO Number: <h3
            style="padding-left:1rem;font-weight:bold;"> {{selectedPo}}</h3>
        </h4>
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
          <button pButton type="button" label="Enter PO Number" icon="pi pi-addition" (click)="showSearch()"> </button>
        </span>
      </div>
    </ng-template>
    <ng-template let-order pTemplate="gridItem">
      <div class="p-col-12">
        <div class="product-list-item">
          <div class="product-list-detail">
            <app-order [selectedOrder]="order"></app-order>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>