.p-toolbar {
    background-color: var(--color-white);
};

:host ::ng-deep .p-dialog-title {
    color: var(--color-red);
}

:host ::ng-deep .p-dialog-header-close-icon{
    color: var(--color-red);
}
:host ::ng-deep .p-button-text{
    color: var(--color-red);
}

.buttonStyle {
    background-color: var(--color-primary);
  }


