.p-listbox .p-listbox-list .p-listbox-item {
    color:white;
    background-color: #004990;
    padding: 1.75rem 1.25rem;
}

.p-listbox .p-listbox-list {
    padding:0rem;
}

.p-button{
    background-color: #004990;
}