<p-toolbar>
  <p-button type="button" lable="back" icon="pi pi-arrow-left" (click)="back()"></p-button>
  <button pButton type="button" label="refresh" icon="pi pi-refresh" (click)="refresh()"></button>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <p-button (click)="updateStatus()">Finish Receiving</p-button>
</p-toolbar>
<p-toast position="top-center"></p-toast>
<p-card>
  <div class=gridView>
    <div class="ContentGridStyle">
      <div class="display">
        <div style="flex:1 1">
          <div class="displayView">
            <div class="width">
              <span class="textStyle">PO </span>
              <span class="textStyle">{{selectedOrder?.PONO}}</span>
            </div>
            <div class="width">
              <span class="textStyle">Line </span>
              <span class="textStyle">{{selectedOrder?.POLINE}}</span>
            </div>
            <div class="width">
              <span class="textStyle">Item </span>
              <span class="textStyle">{{selectedOrder?.ITEM}}</span>
            </div>
            <div>
              <span class="textStyle">Tag </span>
              <span class="textStyle">{{selectedOrder?.TAG}}</span>
            </div>
            <div class="printTagStyle">
              <p-button (click)="onSubmit()">Print Inventory Tag</p-button>
            </div>
          </div>
          <p-divider></p-divider>
          <div style="text-align: center;">
            <h2 class="descColor">HEAT {{selectedOrder?.HEAT}}</h2>
          </div>
          <p-divider></p-divider>
          <div style="text-align: center;">
            <h4 style="font-weight: lighter;">MILL_NO {{selectedOrder?.MILL_NO}}</h4>
          </div>
          <p-divider></p-divider>
          <div style="text-align: center;">
            <h4 class="descColor">{{selectedOrder?.DESC}}</h4>
          </div>
          <p-divider></p-divider>
          <div class="lineSpace">
            <div class="locationGrid">
              <span class="textStyle" style="padding-top: 0.5rem;">Tag Qty {{selectedOrder?.TAG_QTY}} {{selectedOrder?.UOM}}</span>
              <span>
                <button pButton (click)="splitTag()">Split Tag</button>
              </span>
            </div>
          </div>
          <p-divider></p-divider>
          <div class="displayView">
            <div class="lineSpace">
              <span class="textStyle">Pieces: {{selectedOrder?.PCS}}</span>
              <span style="float:right;">
                <button pButton type="button" (click)="changePieces()">Change Pieces</button>
              </span>
            </div>
            <div class="lineSpace">
              <span class="textStyle">Length: {{selectedOrder?.LENGTH}}</span>
              <span style="float:right;">
                <button pButton type="button" (click)="changeLength()">Change Length</button>
              </span>
            </div>
            <div class="lineSpace">
              <span class="textStyle">Width: {{selectedOrder?.WIDTH}}</span>
              <span style="float:right;">
                <button pButton type="button" (click)="changeWidth()">Change Width</button>
              </span>
            </div>
          </div>
          <div>
          </div>
          <p-divider></p-divider>
          <div style="text-align:center;">
            <h3 style="font-weight: lighter;">VENDOR {{selectedOrder?.VENDOR}}</h3>
          </div>
          <p-divider></p-divider>
          <div style="text-align:left;">
            <h3 style="font-weight: lighter;">{{selectedOrder?.TAG_COMMENT}}</h3>
          </div>
          <p-divider></p-divider>
          <div>
            <div class="locationGrid">
              <span class="contentTextStyle">LOC {{selectedOrder?.LOC}}</span>
              <span>
                <p-button (click)="changeLocation()">Change Racking Location</p-button>
              </span>
            </div>
            <div class="locationGrid">
              <div style="padding-top: 24px;">
                <h3 style="font-weight: lighter;">REC_DATE {{selectedOrder?.REC_DATE}}</h3>
              </div>
              <div style="padding-top: 8px;">
                <span class="contentTextStyle">Status {{selectedOrder?.STATUS}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-card>
