.ContentViewStyle {
  border: 1px solid #004990;
  border-radius: 5px;
  background-color: white;
  margin: 1rem auto;
  padding: 0.5rem;
  box-shadow: 8px 8px 8px #888888;
  gap: 10px;
}

.displayView {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.ContentGridStyle {
  width: 75%;
  border: 1px solid #004990;
  border-radius: 5px;
  padding: 0.5rem;
  gap: 10px;
  margin: 1rem auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: white;
  color: black;
  overflow: auto;
}

@media (min-device-width:768px) and (max-device-width: 1024px) {
  .ContentGridStyle {
    width: 100%;
  }
}

.locationButtonStyle {
  padding: 8px 24px 8px 4rem;
  width: 4rem;
}

.buttonStyle {
  padding: 5rem 2rem;
}

.display {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  padding: 0.5rem;
  width: 100%
}

.lineSpace {
  padding: 2px 8px;
}

@media (min-device-width:768px) {
  .lineSpace {
    width: 100%;
  }
}

.printTagStyle {
  display: flex;
  justify-content: right;
}

@media (max-device-width:768px) {
  .printTagStyle {
    margin-left: auto;
    margin-top: 1rem;
  }
}


.grid-container {
  display: flex;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: #f5f5f5;
  padding: 10px;
}

.gridView {
  flex-wrap: wrap;
  grid-gap: 10px;
  gap: 10px;
  font-size: 30px;
}

.gridChangeView {
  flex-wrap: wrap;
  grid-gap: 10px;
  gap: 10px;
  font-size: 30px;
  display: flex;
}

.width {
  padding: 0px 8px;
}

.textStyle {
  font-size: 24px;
  font-weight: bold;
}

.descColor {
  color: white;
  background-color: #004990;
}

.contentTextStyle {
  font-size: 48px;
  font-weight: bold;
}

.p-toast {
  font-size: 1.6rem !important;
  width: 20% !important;
}

.p-card .p-card-body {
  padding: 0rem 1rem 1rem 1rem
}

.p-button {
  width: 10rem;
  display: block;
}

.locationGrid {
  display: flex;
  justify-content: space-between;
}
